<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>

        <property name="hibernate.connection.url">jdbc:sqlserver://localhost/OnlineShop</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">test1234!</property>
        <property name="show_sql">true</property>

        <mapping resource="com/gmail/perva4ina/BE/OnlineShop/Orders.hbm.xml" />
        <mapping resource="com/gmail/perva4ina/BE/OnlineShop/Customer.hbm.xml" />
        <mapping resource="com/gmail/perva4ina/BE/OnlineShop/Product.hbm.xml" />
    </session-factory>
</hibernate-configuration>